.Poster{
    height: 400px;
    iframe{
        border-radius: 10px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.PosterInfo{
    list-style: none;
    font-size: 19px;
    padding: 0;
    margin: 0 0 25px;
    li{
        margin-bottom: 1px;
    }
}
.PosterDesc{
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 15px;
}