@font-face {
    font-family: 'Impact';
    src: url('./font/Impact.eot');
    src: local('Impact'),
        url('./font/Impact.eot?#iefix') format('embedded-opentype'),
        url('./font/Impact.woff') format('woff'),
        url('./font/Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Logo {
    display: flex;
    align-items: center;
    a {
        font-size: max(min(38px, 2.8vw), 30px);
        line-height: 1;
        color: #ffca28;
        font-family: 'Impact';
        text-decoration: none;
    }
}